@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap");

.content {
  margin-top: 30px;
  display: flex;
  gap: 130px;
  flex-wrap: wrap-reverse;
  margin-left: 30px;
  width: 1200px;
  margin-inline: auto;
  // padding-inline: 20px;
  .items {
    // border: 1px solid rgb(0, 157, 255);
    border-radius: 10px;
    // background: rgba(0, 136, 255, 0.197);
    // border: 1px solid rgba(0, 0, 255, 0.506);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(188, 186, 184);
    height: auto;
    // background: linear-gradient(85deg, rgb(0, 0, 0), #507bfb, #355084, #e6e3e3);
    // background-size: 400% 400%;
    // animation: gradientAnimation 5s infinite;
    // font-family: "Arial", sans-serif;
    // @keyframes gradientAnimation {
    //   0% {
    //     background-position: 0% 50%;
    //   }
    //   25% {
    //     background-position: 25% 50%;
    //   }
    //   50% {
    //     background-position: 100% 50%;
    //   }
    //   75% {
    //     background-position: 100% 50%;
    //   }
    //   100% {
    //     background-position: 0% 50%;
    //   }
    // }

    .img {
      width: 100%;
      max-width: 300px;
      height: auto;

      // filter : drop-shadow(10px 10px 40px rgb(72, 72, 151))
    }

    .text {
      color: rgb(0, 103, 159);
      font-family: "Montserrat", sans-serif;
    }

    .openButton {
      width: fit-content;
      min-width: 100px;
      height: 45px;
      border: none;
      padding: 8px;
      border-radius: 5px;
      border: 1.8px solid #e0e1e4;
      box-shadow: 0px 0px 20px -20px;
      cursor: pointer;
      background-color: white;
      transition: all 0.2s ease-in-out 0ms;
      user-select: none;
      font-family: "Montserrat", sans-serif;
    }

    .openButton:hover {
      background-color: #f2f2f2;
      box-shadow: 0px 0px 20px -18px;
    }

    .openButton:active {
      box-shadow: inset 0px 0.1em 0.6em #a4daf9;
      transform: translateY(0em);
    }
  }
}
.desc {
  // color: white;
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 103, 159);
  font-size: 20px;
}

.card {
  width: 495px;
  height: 250px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    .img {
      width: 200px;
    }
    button {
      height: 40px;
      width: 90px;
      font-size: 18px;
      display: inline-block;
      outline: 0;
      border: 0;
      cursor: pointer;
      will-change: box-shadow, transform;
      background: radial-gradient(
        100% 100% at 100% 0%,
        #89e5ff 0%,
        #5468ff 100%
      );
      box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%),
        0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%),
        inset 0px -0.01em 0px rgb(58 65 111 / 50%);
      // padding: 0 1em;
      border-radius: 0.3em;
      color: #fff;
      // height: 2.6em;
      text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
      transition: box-shadow 0.15s ease, transform 0.15s ease;
    }

    button:hover {
      box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%),
        0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
      transform: translateY(-0.1em);
    }

    button:active {
      box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
      transform: translateY(0em);
    }
  }
}
.img:hover {
  padding: 10px;
}
